body{
	height: 100%;
	width: 100%;
	min-height: 100vh;
	min-width: 100vh;
	background-color: steelblue;
	display: inline-flex;

	

}
.wrapper{
	border: 3px solid black;
}

.container1{
	height: 500px;
	width: 850px;
	border: 3px solid gold;
	display: inline-flex;
}

.onlineWrapper{
	height: 200px;
	width: 100px;
	border: 3px solid red;


}
.clientWrapper{
	width: 100px;
	height: 300px;
	border: 5px solid orange;

}

.input{
	height: 30px;
	width: 410px;
	/*margin-left: 180px;*/
}

#messages{
	height:400px;
	width: 500px;
	background-color: ghostwhite;
	margin: 0 auto;
}

